<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
             <p>Questo sito è stato creato da Luca Tassi sfruttando le librerie mapbox.com e darksky</p>
            <img class="portrait" src="/img/me.png">
         </div>
          {{>footer}}
    </body>
    
</html>